En este archivo, voy a desarrollar la función que se me pide en el segundo endpoint, que es la que se muestra a continuación:

![alt text](../img/endpoint_2.png "Title")

Importación de las librerías necesarias para trabajar

In [1]:
import pandas as pd

Lectura de los conjuntos de datos necesarios necesarios y breve vistazo de la cabecera de los mismos

In [2]:
user_reviews = pd.read_parquet("./EDA/user_reviews_complete.parquet")
user_reviews.head()

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637

In [3]:
user_items = pd.read_parquet("../EDA/user_items_complete.parquet")
user_items.head()

,item_id,item_name,playtime_forever,playtime_2weeks,user_id
0,10,Counter-Strike,6,0,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479

In [4]:
steam_games = pd.read_parquet("../Datasets/steam_games_post_EDA.parquet")
steam_games.head()

,id,app_name,developer,price,release_year,categorical
88310,761140,Lost Summoner Kitty,Kotoshiro,4.99,2018,"[Action, Casual, Indie, Simulation, Strategy, ..."
88311,643980,Ironbound,Secret Level SRL,0.00,2018,"[Free to Play, Indie, RPG, Strategy, Card Game..."
88312,670290,Real Pool 3D - Poolians,Poolians.com,0.00,2017,"[Casual, Free to Play, Indie, Simulation, Spor..."
88313,767400,弹炸人2222,彼岸领域,0.99,2017,"[Action, Adventure, Casual, Single-player]"
88315,772540,Battle Royale Trainer,Trickjump Games Ltd,3.99,2018,"[Action, Adventure, Simulation, FPS, Shooter, ..."

A partir de estos Dataframe, analizo lo que me piden:
- A partir del id de un usuario, devuelve la cantidad de dinero gastado por el usuario, el porcentaje de recomendación, y la cantidad de items que tiene el usuario. Emtonces lo que necesito es:
    - id de un usuario
    - cantidad de dinero gastado por el usuario
    - porcentaje de recomendación
    - cantidad de items que tiene el usuario

Veamos las columnas que tenemos disponibles en todos nuestros conjuntos de datos.

In [5]:
print(user_reviews.columns)
print()
print(user_items.columns)
print()
print(steam_games.columns)
print()

Index(['funny', 'posted', 'last_edited', 'item_id', 'helpful', 'recommend',
       'review', 'user_id'],
      dtype='object')

Index(['item_id', 'item_name', 'playtime_forever', 'playtime_2weeks',
       'user_id'],
      dtype='object')

Index(['id', 'app_name', 'developer', 'price', 'release_year', 'categorical'], dtype='object')

De acuerdo a estos resultados...
Las columnas que voy a usar para este trabajo son:
- user_reviews: user_id, recommend
- user_items: user_id, item_id
- steam_games: id = item_id, price.

El resto de columnas no me sirve, así que las descarto

In [6]:
for column in user_reviews.columns: # Por cada columna en el dataframe user_reviews
    if column not in ['user_id', 'recommend']: # Si la columna no es la que me sirve
        user_reviews.drop(column, axis=1, inplace=True) # La elimino
print(user_reviews.columns) # Muestro las columnas que me quedaron cómo forma de comprobar los resultados

# Repito lo mismo con los otros dos dataframe

for column in user_items.columns:
    if column not in ['user_id', 'item_id']:
        user_items.drop(column, axis=1, inplace=True)
print(user_items.columns)

for column in steam_games.columns:
    if column not in ['price', 'id']:
        steam_games.drop(column, axis=1, inplace=True)
print(steam_games.columns)

Index(['recommend', 'user_id'], dtype='object')
Index(['item_id', 'user_id'], dtype='object')
Index(['id', 'price'], dtype='object')

Hechemos un vistazo a cómo quedaron los dataframe

In [55]:
user_reviews

       recommend            user_id
0           True  76561197970982479
1           True  76561197970982479
2           True  76561197970982479
3           True            js41637
4           True            js41637
...          ...                ...
59300       True  76561198312638244
59301       True  76561198312638244
59302       True        LydiaMorley
59303       True        LydiaMorley
59304       True        LydiaMorley

[59305 rows x 2 columns]

In [8]:
user_items

        item_id            user_id
0            10  76561197970982479
1            20  76561197970982479
2            30  76561197970982479
3            40  76561197970982479
4            50  76561197970982479
...         ...                ...
5153204  346330  76561198329548331
5153205  373330  76561198329548331
5153206  388490  76561198329548331
5153207  521570  76561198329548331
5153208  519140  76561198329548331

[5153209 rows x 2 columns]

In [9]:
steam_games

            id  price
88310   761140   4.99
88311   643980   0.00
88312   670290   0.00
88313   767400   0.99
88315   772540   3.99
...        ...    ...
120439  745400   1.99
120440  773640   1.99
120441  733530   4.99
120442  610660   1.99
120443  658870   4.99

[27167 rows x 2 columns]

Primero que nada, hago un chequeo de nulos en ambos 3 dataframes

In [10]:
user_items.isnull().sum() # Ninguno, perfecto

item_id    0
user_id    0
dtype: int64

In [11]:
user_reviews.isnull().sum() # Ninguno, perfecto

recommend    0
user_id      0
dtype: int64

In [12]:
steam_games.isnull().sum() # Perfecto

id       0
price    0
dtype: int64

Ahora que ya tengo los dataframe con las columnas que necesito, lo que me resulta más fácil de determinar es cuantos juegos tiene cada usuario. Para ello, utilizo el dataframe user_items

In [13]:
user_items[user_items["user_id"] == "76561197970982479"]["user_id"].count()

277

Primer prototipo del endpoint

In [14]:
def user_data(user_id):
    cantidad_items = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()
    return cantidad_items

In [15]:
user_data(76561197970982479) # La salida es la esperada

277

En base a esta cantidad de juegos que tiene el usuario, puedo determinar el porcentaje de recomendación del mismo.

In [16]:
user_reviews[(user_reviews["user_id"] == "76561197970982479") & user_reviews["recommend"] == True]["recommend"].count()

3

Segundo prototipo del endpoint

In [17]:
def user_data(user_id):
    cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()
    cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()
    return f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}% de Recomendación"

In [18]:
user_data(76561197970982479)

'1.08% de Recomendación'

Ahora necesito encontrar la cantidad de dinero gastado por el usuario, para ello, tengo que usar los dataframe user_items y steam_games, ya que en ellos se encuentran todos los datos que necesito

In [19]:
steam_games[steam_games["id"] == 10]

        id  price
120416  10   9.99

In [20]:
user_items[user_items["item_id"] == 10] # Tengo que cambiarle el tipo de dato a la columna item_id

Empty DataFrame
Columns: [item_id, user_id]
Index: []

In [21]:
user_items["item_id"] = user_items["item_id"].astype(int)

Me doy cuenta que lo más sencillo sería trabajar en un mismo dataframe, por lo cuál decido unir tanto el de items cómo el de games

In [22]:
usuario_juego_precio = pd.merge(user_items, steam_games, how="left", left_on="item_id", right_on="id")
usuario_juego_precio

         item_id            user_id        id  price
0             10  76561197970982479      10.0   9.99
1             20  76561197970982479      20.0   4.99
2             30  76561197970982479      30.0   4.99
3             40  76561197970982479      40.0   4.99
4             50  76561197970982479      50.0   4.99
...          ...                ...       ...    ...
5153204   346330  76561198329548331  346330.0   0.00
5153205   373330  76561198329548331       NaN    NaN
5153206   388490  76561198329548331  388490.0   0.00
5153207   521570  76561198329548331  521570.0   0.00
5153208   519140  76561198329548331       NaN    NaN

[5153209 rows x 4 columns]

Voy a tomarme la libertad de eliminar las filas que contienen nulos, ya que de las mismas, no puedo asegurar que el juego es gratuito, ni tampoco que sea pago, así que las elimino

In [23]:
usuario_juego_precio.isnull().sum()

item_id          0
user_id          0
id         1064014
price      1064014
dtype: int64

In [24]:
usuario_juego_precio.dropna(inplace=True)
usuario_juego_precio

         item_id            user_id        id  price
0             10  76561197970982479      10.0   9.99
1             20  76561197970982479      20.0   4.99
2             30  76561197970982479      30.0   4.99
3             40  76561197970982479      40.0   4.99
4             50  76561197970982479      50.0   4.99
...          ...                ...       ...    ...
5153202   304930  76561198329548331  304930.0   0.00
5153203   227940  76561198329548331  227940.0   0.00
5153204   346330  76561198329548331  346330.0   0.00
5153206   388490  76561198329548331  388490.0   0.00
5153207   521570  76561198329548331  521570.0   0.00

[4089195 rows x 4 columns]

Filtremos el dataset usando el mismo usuario con el cuál veniamos haciendo las pruebas

In [25]:
usuario_juego_precio[usuario_juego_precio["user_id"] == "76561197970982479"]

     item_id            user_id        id  price
0         10  76561197970982479      10.0   9.99
1         20  76561197970982479      20.0   4.99
2         30  76561197970982479      30.0   4.99
3         40  76561197970982479      40.0   4.99
4         50  76561197970982479      50.0   4.99
..       ...                ...       ...    ...
272   289130  76561197970982479  289130.0  29.99
273   268500  76561197970982479  268500.0  59.99
274   461640  76561197970982479  461640.0   1.99
275   379720  76561197970982479  379720.0  29.99
276   273350  76561197970982479  273350.0   0.00

[227 rows x 4 columns]

De aquí, la columna que más nos interesa es la del precio, del cual queremos conocer la suma, la cantidad total gastada por el usuario, así que...

In [26]:
usuario_juego_precio[usuario_juego_precio["user_id"] == "76561197970982479"]["price"].sum() # Ese usuario gastó más de 3400 dólares

3404.3300000000004

Tercer prototipo del endpoint

In [27]:
def user_data(user_id):
    cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()
    cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()
    cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == str(user_id)]["price"].sum()
    return f"El usuario gastó {round(cantidad_dinero_gastado, 2)} USD"

In [28]:
user_data(76561197970982479)

'El usuario gastó 3404.33 USD'

Cuarto prototipo del endpoint

In [29]:
def user_data(user_id):
    diccionario_de_retorno = {}
    cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()
    cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()
    cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == str(user_id)]["price"].sum()

    diccionario_de_retorno["Usuario"] = user_id
    diccionario_de_retorno["Dinero gastado"] = f"{round(cantidad_dinero_gastado, 2)} USD"
    diccionario_de_retorno["Porcentaje de recomendación"] = f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}%"
    diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
    
    return diccionario_de_retorno

In [30]:
user_data(76561197970982479)

{'Usuario': 76561197970982479,
 'Dinero gastado': '3404.33 USD',
 'Porcentaje de recomendación': '1.08%',
 'Cantidad de juegos': 277}

Bueno, se podría decir que ya resolví el endpoint 2, pero en realidad me faltan hacerle algunas aclaraciones y ajustes a la función para que su desempeño sea óptimo

In [32]:
user_data(76561197970982474) # Veo que cuando pongo un id que no corresponde a ningún usuario, me sale lo siguiente

C:\Users\crisr\AppData\Local\Temp\ipykernel_20384\1780711741.py:9: RuntimeWarning: invalid value encountered in scalar divide
  diccionario_de_retorno["Porcentaje de recomendación"] = f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}%"

{'Usuario': 76561197970982474,
 'Dinero gastado': '0.0 USD',
 'Porcentaje de recomendación': 'nan%',
 'Cantidad de juegos': 0}

Quinto prototipo del endpoint

In [34]:
def user_data(user_id):
    diccionario_de_retorno = {} # Diccionario que va a almacenar las variables correspondientes a la salida de la función

    if user_items[user_items["user_id"] == str(user_id)].empty:
        return "No se encontraron datos para el usuario con id: " + str(user_id)

    cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()
    # cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()
    # cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == str(user_id)]["price"].sum()

    # diccionario_de_retorno["Usuario"] = user_id
    # diccionario_de_retorno["Dinero gastado"] = f"{round(cantidad_dinero_gastado, 2)} USD"
    # diccionario_de_retorno["Porcentaje de recomendación"] = f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}%"
    # diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
    
    return diccionario_de_retorno

In [35]:
user_data(76561197970982474) # La salida es la esperada.

'No se encontraron datos para el usuario con id: 76561197970982474'

Sexto prototipo de la función

In [36]:
def user_data(user_id):

    diccionario_de_retorno = {} # Diccionario que va a almacenar las variables correspondientes a la salida de la función

    if user_items[user_items["user_id"] == str(user_id)].empty: # En caso de que no haya usuarios con el ID ingresado, se muestra lo siguiente:
        return "No se encontraron datos para el usuario con ID: " + str(user_id)
    else: # En caso de que haya usuarios con el ID ingresado, se muestra lo siguiente

        # Se cuenta la cantidad de juegos que tiene el usuario
        cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()

        # Se cuenta la cantidad de recomendaciones. En la columna recommend aparece "True" o "False", tuve en cuenta sólo las que aparece "True" del usuario ingresado.
        cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()

        # Se cuenta la cantidad de dinero gastado por el usuario, haciendo una suma de la columna "price" de los juegos que tiene el usuario. 
        cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == str(user_id)]["price"].sum()

        # A partir del ID ingresado, del dinero gastado, del porcentaje de recomendación, y de la cantidad de juegos, se almacenan en el diccionario previamente creado con las claves correspondientes.
        diccionario_de_retorno["Usuario"] = user_id
        diccionario_de_retorno["Dinero gastado"] = f"{round(cantidad_dinero_gastado, 2)} USD"

        # Si el usuario no hizo recomendaciones, para no tener errores de división por 0, defino que el porcentaje de recomendación es de 0%
        if cantidad_de_recomendaciones == 0:
            diccionario_de_retorno["Porcentaje de recomendaciones"] = "0%"
        else:
            # Si hizo recomendaciones, se hace el calculo normalmente
            diccionario_de_retorno["Porcentaje de recomendación"] = f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}%"
        
        diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
        
        # Se devuelve el diccionario creado
        return diccionario_de_retorno

In [37]:
user_data(76561197970982474) # La salida es la esperada.

'No se encontraron datos para el usuario con ID: 76561197970982474'

In [51]:
user_reviews[user_reviews["recommend"] == False] # Probemos con sandwiches1

       recommend            user_id
48         False  76561198043472122
62         False  76561198066046412
68         False  76561198070565427
84         False            boydeer
122        False        sandwiches1
...          ...                ...
59262      False        kimjongadam
59268      False      iwishihadaids
59283      False       MeloncraftLP
59284      False  76561198277602337
59285      False             943525

[6832 rows x 2 columns]

In [53]:
user_reviews[user_reviews["user_id"] == "sandwiches1"] # Ideal, sólo tiene una recomendación y es negativa, osea tiene 0 recomendaciones positivas

     recommend      user_id
122      False  sandwiches1

In [54]:
user_data("sandwiches1")

{'Usuario': 'sandwiches1',
 'Dinero gastado': '1528.9 USD',
 'Porcentaje de recomendaciones': '0%',
 'Cantidad de juegos': 172}

Exporto los dataframe en formato parquet con compresión snappy a la carpeta Datasets para importarlos luego desde allí

In [63]:
user_items.to_parquet("../Datasets/user_items_endpoint_2.parquet",compression="snappy")

In [64]:
user_reviews.to_parquet("../Datasets/user_reviews_endpoint_2.parquet", compression="snappy")

In [65]:
usuario_juego_precio.to_parquet("../Datasets/steam_games_and_users_endpoint_2.parquet", compression="snappy")

Septimo y último prototipo funcional y exportable, le agrego la importación de los archivos correspondientes.

In [ ]:
def user_data(user_id):
    # Cargamos los dataframes dentro de la función
    user_items = pd.read_parquet("./Datasets/user_items_endpoint_2.parquet")
    user_reviews = pd.read_parquet("./Datasets/user_reviews_endpoint_2.parquet")
    usuario_juego_precio = pd.read_parquet("./Datasets/steam_games_and_users_endpoint_2.parquet")

    diccionario_de_retorno = {} # Diccionario que va a almacenar las variables correspondientes a la salida de la función

    if user_items[user_items["user_id"] == str(user_id)].empty: # En caso de que no haya usuarios con el ID ingresado, se muestra lo siguiente:
        return "No se encontraron datos para el usuario con ID: " + str(user_id)
    else: # En caso de que haya usuarios con el ID ingresado, se muestra lo siguiente

        # Se cuenta la cantidad de juegos que tiene el usuario
        cantidad_juegos = user_items[user_items["user_id"] == str(user_id)]["user_id"].count()

        # Se cuenta la cantidad de recomendaciones. En la columna recommend aparece "True" o "False", tuve en cuenta sólo las que aparece "True" del usuario ingresado.
        cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == str(user_id)) & user_reviews["recommend"] == True]["recommend"].count()

        # Se cuenta la cantidad de dinero gastado por el usuario, haciendo una suma de la columna "price" de los juegos que tiene el usuario. 
        cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == str(user_id)]["price"].sum()

        # A partir del ID ingresado, del dinero gastado, del porcentaje de recomendación, y de la cantidad de juegos, se almacenan en el diccionario previamente creado con las claves correspondientes.
        diccionario_de_retorno["Usuario"] = user_id
        diccionario_de_retorno["Dinero gastado"] = f"{round(cantidad_dinero_gastado, 2)} USD"

        # Si el usuario no hizo recomendaciones, para no tener errores de división por 0, defino que el porcentaje de recomendación es de 0%
        if cantidad_de_recomendaciones == 0:
            diccionario_de_retorno["Porcentaje de recomendaciones"] = "0%"
        else:
            # Si hizo recomendaciones, se hace el calculo normalmente
            diccionario_de_retorno["Porcentaje de recomendación"] = f"{round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)}%"
        
        diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
        
        # Se devuelve el diccionario creado
        return diccionario_de_retorno

Dado que estoy tratando de ejecutar el endpoint 2 en el main y no estoy podiendo en render debido a errores de memoria, voy a trabajar en optimizar la función

In [ ]:
# El endpoint está así en el main:
from fastapi import FastAPI, HTTPException, Query
import pandas as pd
from fastapi.responses import JSONResponse
from fastapi.encoders import jsonable_encoder
def informacion_usuario(user_id):
    try:
        user_id_str = str(user_id)
        # Cargamos los dataframes dentro de la función
        user_items = pd.read_parquet("../Datasets/user_items_endpoint_2.parquet")
        user_reviews = pd.read_parquet("../Datasets/user_reviews_endpoint_2.parquet")
        usuario_juego_precio = pd.read_parquet("../Datasets/steam_games_and_users_endpoint_2.parquet")
        print("Archivos leídos correctamente")
        
        diccionario_de_retorno = {} # Diccionario que va a almacenar las variables correspondientes a la salida de la función

        if user_items[user_items["user_id"] == user_id_str].empty: # En caso de que no haya usuarios con el ID ingresado, se muestra lo siguiente:
            return {"Detail":"No se encontraron datos para el usuario con ID: " + user_id_str}
        else: # En caso de que haya usuarios con el ID ingresado, se muestra lo siguiente
            
            # Se cuenta la cantidad de juegos que tiene el usuario
            print("Condicional pasado correctamente")
            cantidad_juegos = user_items[user_items["user_id"] == user_id_str]["user_id"].count()

            print(f"Cantidad de juegos: {cantidad_juegos}, Tipo: {type(cantidad_juegos)}")
            # Se cuenta la cantidad de recomendaciones. En la columna recommend aparece "True" o "False", tuve en cuenta sólo las que aparece "True" del usuario ingresado.
            cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == user_id_str) & (user_reviews["recommend"] == True)]["recommend"].count()
            print("Cantidad de recomendaciones obtenidas")

            # Se cuenta la cantidad de dinero gastado por el usuario, haciendo una suma de la columna "price" de los juegos que tiene el usuario. 
            cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == user_id_str]["price"].sum()
            cantidad_dinero_gastado = round(cantidad_dinero_gastado, 2)
            print("Cantidad de dinero gastado obtenido")

            # A partir del ID ingresado, del dinero gastado, del porcentaje de recomendación, y de la cantidad de juegos, se almacenan en el diccionario previamente creado con las claves correspondientes.
            diccionario_de_retorno["Usuario"] = user_id_str
            print("Usuario agregado al diccionario de salida")

            diccionario_de_retorno["Dinero gastado"] = f"{cantidad_dinero_gastado} USD"
            print("Dinero gastado agregado al diccionario de salida")
            
            # Si el usuario no hizo recomendaciones, para no tener errores de división por 0, defino que el porcentaje de recomendación es de 0%
            if cantidad_de_recomendaciones == 0:
                porcentaje_recomendacion = 0
                diccionario_de_retorno["Porcentaje de recomendación"] = f"{porcentaje_recomendacion}%"
            else:
                # Si hizo recomendaciones, se hace el calculo normalmente
                porcentaje_recomendacion = round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)
                diccionario_de_retorno["Porcentaje de recomendación"] = f"{porcentaje_recomendacion}%"

            print("Porcentaje de recomendación agregado al diccionario de salida")

            diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
            print("Cantidad de juegos agregados al diccionario de salida")
            
            # Se devuelve el diccionario creado
            return diccionario_de_retorno
        
    except FileNotFoundError as e:
        print(f"Error: {str(e)}")
        raise HTTPException(status_code=404, detail=f"Archivo Parquet no encontrado: {str(e)}")
    except Exception as e:
        print(f"Error: {str(e)}")
        raise HTTPException(status_code=500, detail=f"Error al procesar la solicitud: {str(e)}")

Cómo el error es de memoria, voy a trabajar en optimizar los dataframe que estoy cargando dentro del endpoint

In [2]:
import pandas as pd
user_items = pd.read_parquet("../Datasets/user_items_endpoint_2.parquet")
user_reviews = pd.read_parquet("../Datasets/user_reviews_endpoint_2.parquet")
usuario_juego_precio = pd.read_parquet("../Datasets/steam_games_and_users_endpoint_2.parquet")

Comencemos por user_items

In [3]:
user_items

         item_id            user_id
0             10  76561197970982479
1             20  76561197970982479
2             30  76561197970982479
3             40  76561197970982479
4             50  76561197970982479
...          ...                ...
5153204   346330  76561198329548331
5153205   373330  76561198329548331
5153206   388490  76561198329548331
5153207   521570  76561198329548331
5153208   519140  76561198329548331

[5153209 rows x 2 columns]

De este dataframe, bastante grande por cierto (mala mía), para lo único que lo útilizo dentro de la función es para determinar la cantidad de juegos que tiene cada usuario mediante el método .count(). Se me ocurrió que podría ser mucho más optimo que en lugar de tener hacer eso dentro de la función, lo único que se hace sería cargar un dataframe que ya tenga el dato tabular de esta manera: {usuario:cant_juegos}. Así que a ello voy

Acabo de recordar que el archivo original de user items tiene la cantidad de items por usuario junto al user_id, así que para simplificar el trabajo, voy a usar ese archivo:

In [12]:
# Código de "ETL_user_items.ipynb"
import gzip
import ast


rutaArchivo = '../ETL/rawData/users_items.json.gz'

# Lista que va almacenar cada línea del archivo ya descomprimido
data = []

# Metodo open para abrir el archivo comprimido
with gzip.open(rutaArchivo, 'rt', encoding='utf-8') as file:
    # Bucle para iterar el archivo línea por línea
    for line in file:
        try:
            # ast.literal_eval lanza una excepción si la entrada no es un tipo de dato valido en Python. Si lo es, guarda la línea en una variable temporal llamada json_data y luego esa variable temporal es agregada a la lista data previamente creada
            json_data = ast.literal_eval(line)
            data.append(json_data)

        except ValueError as e:
            # Si no se puede leer la línea porque el tipo de dato no es válido en Python, lanza una excepción
            print(f"Error en la línea: {line}")
            continue

# Finalmente, los datos contenidos en la lista data, son alojados en un dataframe de pandas
users_items = pd.DataFrame(data)

In [14]:
users_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

Dejo sólo las columnas necesarias (las primeras 2)

In [15]:
users_items.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

In [16]:
users_items = users_items[['user_id', 'items_count']]

In [17]:
users_items

                       user_id  items_count
0            76561197970982479          277
1                      js41637          888
2                    evcentric          137
3                   Riot-Punch          328
4                        doctr          541
...                        ...          ...
88305        76561198323066619           22
88306        76561198326700687          177
88307  XxLaughingJackClown77xX            0
88308        76561198329548331            7
88309        edward_tremethick            0

[88310 rows x 2 columns]

Con este cambio, pase de tener un dataframe de 5.153.209 filas a tener uno de 88310 que me aporta de forma más precisa la información que quiero.
Con esto redujé un 98,2% el Dataframe.
Exporto los cambios hechos.

In [19]:
users_items.to_parquet("../Datasets/endpoint_2/users_items.parquet",compression="snappy")

Continuemos con user_reviews

In [20]:
user_reviews

       recommend            user_id
0           True  76561197970982479
1           True  76561197970982479
2           True  76561197970982479
3           True            js41637
4           True            js41637
...          ...                ...
59300       True  76561198312638244
59301       True  76561198312638244
59302       True        LydiaMorley
59303       True        LydiaMorley
59304       True        LydiaMorley

[59305 rows x 2 columns]

Este dataframe tiene pocas filas, así que decido conservarlo cómo está

Finalmente, veamos usuario_juego_precio

In [21]:
usuario_juego_precio

         item_id            user_id        id  price
0             10  76561197970982479      10.0   9.99
1             20  76561197970982479      20.0   4.99
2             30  76561197970982479      30.0   4.99
3             40  76561197970982479      40.0   4.99
4             50  76561197970982479      50.0   4.99
...          ...                ...       ...    ...
5153202   304930  76561198329548331  304930.0   0.00
5153203   227940  76561198329548331  227940.0   0.00
5153204   346330  76561198329548331  346330.0   0.00
5153206   388490  76561198329548331  388490.0   0.00
5153207   521570  76561198329548331  521570.0   0.00

[4089195 rows x 4 columns]

Bueno, este dataframe con una cantidad tan enorme de filas lo uso únicamente para determinar la suma de la columna "price", lo cuál me ofrece cómo resultado el dinero total gastado por el usuario. El tema es que para optimizar la función, me conviene tener este dato ya en el mismo Dataframe, y no tener que hacer un sum() a esa columna. Hacemos eso a continuación

In [24]:
user_id = list(usuario_juego_precio["user_id"].unique())
user_id

['76561197970982479',
 'js41637',
 'evcentric',
 'Riot-Punch',
 'doctr',
 'MinxIsBetterThanPotatoes',
 'NitemarePK',
 'themanwich',
 'maplemage',
 'corrupted_soul',
 'jorellpogi',
 'cadmusthreepointoh',
 '76561198064823719',
 'MeaTCompany',
 '76561198089393905',
 '76561198156664158',
 '76561198077246154',
 '76561198070234207',
 'WeiEDKrSat',
 'thequeenpanda',
 'death-hunter',
 'turneddreamsintoanempire',
 'DJKamBer',
 '76561198030389591',
 'Rainbow-Dashie',
 'btuty8trgt',
 '76561198043472122',
 'MarbleShrine',
 'fdcfelipefdc',
 'bbaekhyun',
 'Moomfina',
 'PPanther',
 'ABSOLUTLY_NOTHING',
 'devvonst',
 'Fr0stedLine',
 '76561198058373434',
 '76561198048353577',
 '76561198072190369',
 '76561198066046412',
 'tru_mu_',
 'wirlom',
 '76561198070565427',
 'SavageEeEe',
 '76561198076909484',
 '76561198066908262',
 'KanadeTheNeko',
 'Leaf_Light_Moscow',
 'erickoiv',
 'GoAwayZach',
 '76561198054540475',
 '76561198100701221',
 '76561198085547365',
 '76561198061252210',
 'OfficialShroomsy',
 '76561198056147391',
 '8Bit-Ninja',
 '76561198071500702',
 '76561198099905030',
 '76561198047407223',
 'latiano',
 'kongtape',
 'boydeer',
 '76561198100297613',
 'VVillis',
 '76561198083226897',
 '76561198075277292',
 '76561198094630961',
 '12549',
 '76561198028895010',
 '76561198092411867',
 '76561198170198366',
 'diego9031',
 'iampiepiepie',
 '76561198079863506',
 'jarrodtrim',
 '76561198078738103',
 '76561198068964564',
 '76561198067936203',
 '76561198079770573',
 'UpTheAss',
 '76561197977385164',
 '76561198075491015',
 '76561198087586464',
 '76561198086878953',
 'Derp-e',
 '76561198070194565',
 'Rivtex',
 'firefreddy',
 'UTNerd24',
 'sandwiches1',
 '76561198093083895',
 '76561198138053270',
 '76561198062422084',
 'Life-Of-Blu',
 'CaptianAutismo',
 'maxgp',
 'AppaTheSwagBison',
 'knightboy991',
 '76561198034678103',
 '76561198075895633',
 'TheDropix101',
 'kube134',
 'iamthekingofbrowntown',
 'MainScout',
 'gdxsd',
 'yookobz',
 'Posiblydead',
 'Mossy_Gaming',
 '76561198093817084',
 '76561198102421718',
 '76561198079045885',
 '76561198087407319',
 '76561198074466513',
 'damo131',
 '19702316748',
 'FrystHjarte',
 '76561198056741844',
 'sad-commie',
 '76561198030567998',
 'Coldaniel',
 'therealmorty',
 'itslonk',
 'DeDroidUreLookin4',
 'Berserklejerker',
 '76561198088799241',
 '76561198061730629',
 'YoHuNz',
 'possessioniskey',
 '76561198072732874',
 '76561198093112529',
 'sevqu',
 '76561198060447950',
 'whiteofwolfing',
 '76561198056857968',
 'sergarino',
 'PyroCreed',
 '76561198052897627',
 '76561198081962345',
 '76561198039266268',
 '76561198094224872',
 '76561198073210139',
 'Nozomikat',
 '76561198076933844',
 '76561198072186059',
 'xfluttersx',
 '76561198068621601',
 '76561198056290589',
 'ii_voltage_ii',
 '76561198097762318',
 'Hirukaz',
 'StelerForYou',
 '76561198183396245',
 'otteloo',
 'shinra420',
 'Xx-Woods',
 'kevinator23',
 'tonyballoney',
 '76561198090715178',
 'Child_Vs_Puddle',
 '76561198073784601',
 'mimimomoma',
 '76561198102410011',
 'de_Butl3r',
 '76561198157999555',
 '76561198027947401',
 'Bluezap1',
 '76561198074200011',
 'jonasdbomb',
 'L1J1N',
 'Lord_Exploit',
 '76561198079106676',
 '76561198092244787',
 'Sanctus94',
 '76561197990792016',
 'AVATAR715',
 '76561198073987767',
 'Fluxxyz',
 '76561198092150873',
 'YieuwMage',
 'Nfkted_CS',
 'A-Very-Sly-Person',
 '76561197994493402',
 '76561198065656175',
 '76561198188979775',
 '97396295',
 'xoFushiox',
 '76561198126640317',
 'DemonicWolvz',
 'DieMadchenschanderin',
 '76561198072706529',
 '76561198215949741',
 'GGargula',
 'Myther43',
 'getf0kinn0sc0pedm9',
 '76561198141443390',
 '76561198031924053',
 '76561198097333029',
 'dominiclim99',
 'whodafuqisthisguilao',
 '76561198072205329',
 'Icamebackbitches',
 'Magjiikal',
 'ohnospaghet',
 '76561198060062487',
 '76561198050347115',
 '2768820078',
 '76561198049968536',
 '76561198056392326',
 '2d4nk4m3',
 '76561198074003102',
 '76561198078478151',
 'exiaez',
 'BURNINGchicken3',
 '76561198066835162',
 '76561198069593452',
 'undietaker',
 '76561198095921854',
 'EizanAratoFujimaki',
 'POOTISSPENSOR',
 'angorabug',
 'TeCool',
 'ZyhgarThestarweaver',
 '2xDelorean',
 'washington_',
 '76561198088944293',
 '76561198061769804',
 '76561198051258119',
 '76561198065771371',
 'nubquake123',
 'Pyromanic',
 '76561198109656922',
 '76561198149432604',
 'Unplanned_stategy',
 'CobRazor',
 'relesprit',
 '76561198090294067',
 'talove112345',
 '76561198055094875',
 'WitchHunter4542',
 '76561198203244300',
 'pwrt',
 'wantmahbody',
 '76561198115868847',
 'benedictcuminherbatch',
 '76561198031207016',
 '76561198089077856',
 '76561198043458582',
 'smashiroshh',
 'shark854',
 '76561198062876401',
 '76561198011661078',
 'PabloSanches',
 '76561197991074667',
 'killbunny38',
 '76561198047630659',
 '76561198069713121',
 '1997-07-06_J077',
 '76561198076248461',
 '1337lolroflmao',
 '76561198080832419',
 '76561198151645088',
 'IAA_Recon_Dropbear',
 'goonbagger',
 '76561198060039459',
 'OzfurAtlas',
 '76561198065593074',
 'madmax64',
 '76561198044169764',
 'euzi',
 'lucasrash',
 '76561198082845362',
 '76561198087767019',
 'thisissohardtomakeoneup',
 '76561198087010391',
 '66666669999999',
 '76561198061174192',
 'DoaFapbeforeaNap',
 'ReMiXOfficalSteam',
 'Wilfire77',
 '76561198042730234',
 '76561198069159579',
 '76561198086476445',
 '76561198085016240',
 '76561198060808273',
 '76561198084390807',
 '76561198003688205',
 'Mastic',
 'Scooterinooo',
 '76561198028286104',
 '76561198088447673',
 'tarjla',
 'deathnz1',
 'readingthis4noobs',
 'SonicMCGamer',
 'xXBoss1Xx',
 '76561198084698198',
 '76561198104393251',
 'Borne901',
 '76561198075322986',
 'redsncrimson',
 '76561198151910904',
 'H1DD3NT3RR0R',
 '76561198071214618',
 '76561198115115631',
 'sisiiik',
 '76561198071175142',
 't8s',
 'pikawuu2',
 'Sammeh00',
 'godlike_bot',
 'dpswaffles',
 'NoObFiGHtEr',
 'Michaelele',
 '76561198045754869',
 '76561198076098774',
 '76561198074963071',
 '76561198103253374',
 '76561198048417105',
 '76561197989175394',
 '76561198090842891',
 '76561198058706736',
 '76561198055767971',
 '76561197998052647',
 'adohya343',
 '76561198145436942',
 '3xotic26',
 'iamthetrashlord',
 'nothingheretrustme',
 '76561198071253729',
 '3dster',
 '76561198041808338',
 '76561198016685643',
 '76561198079990063',
 'Forty-Nine',
 '76561198051017916',
 'L4M1NAS',
 'emurphy8',
 '76561198096766604',
 'Sephirical',
 '76561197995322437',
 'imsojipper',
 '76561198066840831',
 '76561198096220900',
 '76561198084542731',
 'fullswag0to100realquick',
 '76561198102121026',
 '76561198103671881',
 'mrpfresh',
 'GamerFag',
 '76561197970628046',
 '76561198013858002',
 '76561198058570014',
 '76561198045133986',
 '76561198002820828',
 'chidori_647',
 '76561198092227136',
 'hellcat59',
 '76561198007584361',
 'tbimperator',
 'Allahu_Akbar666',
 'ulramite',
 '76561198080534850',
 '-GM-Dragon',
 'LeoRocksAce',
 '76561198054040292',
 '76561198155458511',
 'I_DID_911_JUST_SAYING',
 '76561198077035732',
 '76561198072625764',
 'A_Je_100',
 'imagoatieatpoo',
 '750805',
 '76561198080881726',
 'Thatishayden',
 'Flabbernackle',
 'diabeticfuck',
 'magicalpony',
 '76561197962104795',
 '76561198054465623',
 '76561198074257942',
 'aaropro',
 'Aaron_ggf',
 'abiam',
 '76561198037346576',
 'FrankoWalker',
 'LightfootSword7',
 'DaDanMan',
 'SALTTHEW0UND',
 'express157',
 '76561198074644990',
 '76561198064304806',
 '3456457568',
 'TomoeMamiewe',
 '76561198057086148',
 'Acidius99',
 '76561198067150343',
 'acorn13',
 'adamcookie',
 'AddzyTheBaddzy',
 '76561197997824340',
 '76561198076154360',
 '76561198055524901',
 'mradobe7',
 'zomboy151',
 '76561198167207237',
 'cancerkek',
 'matto1499',
 '76561198073508075',
 '76561198090899557',
 '76561198072468669',
 'Advancebest',
 'advenger95',
 'EndAtHallow',
 '76561198060820384',
 '76561198063624801',
 'aeryal',
 'vault_brothers',
 'After2night',
 '76561198029090446',
 '76561197968819541',
 '76561198015968275',
 'defender_10',
 'Agiegamma',
 '76561198082614708',
 '76561198066465411',
 'Agronoth',
 'UnholyFallenAngel',
 'Ricardio556',
 'madgamerzzz',
 '76561198068565589',
 'SlutOnTheSpit',
 'WestyGaming',
 'NaruseAiria',
 '76561198265081359',
 '76561198046844795',
 '76561198067713802',
 '76561198187212131',
 'rjh91',
 'alansiulun',
 'Albolah',
 '76561198003056556',
 '76561198063941075',
 '76561198088886304',
 'maxpaynepillkiller',
 '76561198056092813',
 '76561198095481910',
 '76561198089024454',
 '76561198034129825',
 '76561198164545985',
 'tninjat',
 '76561198068935240',
 '76561198036955150',
 '76561198018840908',
 'AlkalineDeath',
 '76561198075935236',
 'Jupeter117',
 'gsgg',
 '76561198075258452',
 'Jesusunholy',
 'mintifreshbadger',
 'HenryCT',
 'AlpacaRevolution',
 '76561197996305896',
 'AlphaBryn444',
 '76561198009001563',
 '76561198016753953',
 'smegmyfoodle',
 'altas2011',
 'silentbroadcaster',
 '76561198057869849',
 'lol_ursuchanoob',
 'rhysf',
 '76561198098156489',
 '76561198040021446',
 '76561198035890730',
 'AMV72',
 '76561198069170979',
 '76561198085956238',
 '76561198132540690',
 '711armageddoncarmageddon',
 '76561198058301224',
 '76561198055326484',
 '76561198034868596',
 'AncientBlade',
 'Andraison',
 '76561198048401235',
 '76561198050465176',
 '76561198026258913',
 '76561198069560699',
 '76561198099625419',
 'someone6245',
 '76561198084032274',
 '76561198030772859',
 'Angrovar',
 'AngryAinsley',
 '76561198069005048',
 '-AnimeIsMyThing-',
 'uradumbtit',
 '76561198037038784',
 'IKillNoobsFirst',
 '76561198037888300',
 'operationblueberry',
 '1234865654',
 'antacy',
 '76561197992148038',
 '76561198084123358',
 '76561198034942509',
 '76561198032377745',
 'capitaomurilao',
 'Apachehavoc',
 'ApexNZ',
 '76561198039441595',
 '76561198036687918',
 'Apollopepsi',
 'benjamin27',
 'AppoGetsSuperAdmin',
 'ARRIVE',
 '76561198071475367',
 'r3ap3r78',
 'Aquilares',
 '76561198065064829',
 'XABLAUziitu',
 '76561198012909706',
 'aarcanicuss',
 'dragonchief',
 '76561198040530605',
 '76561197974500703',
 '76561198047185525',
 'mestuajix2',
 '76561198067188826',
 'ArcticTek',
 '76561197974465310',
 'sweep6060',
 'bilyitu',
 '76561198088538797',
 '76561198089844789',
 '76561198072861800',
 'deployablearchnagel',
 'rotflmaoman',
 '76561198088670023',
 '76561198081028176',
 'ArmouredForBattle',
 'armouredmarshmallow',
 'darrenfordfalcon',
 '76561198020928326',
 '76561198045570160',
 'arockstar28',
 'Array71',
 '76561198039874575',
 'arronlim13',
 '76561198042389215',
 '76561198006534186',
 'artej96',
 'ARTHERDUNGER10',
 'Mackus1011',
 '76561198041877981',
 'ARZARNAR',
 '76561198089950447',
 'darkmassieh',
 'Boomblasty',
 'asianturtlefrenzy',
 'Edmund28',
 'blowjobsfurdayzandgayz',
 '76561198082992295',
 'LaLocaDeLosDulces',
 '76561198096064761',
 '76561198064352761',
 'assassin_warman',
 '76561198019431054',
 'Astrelt',
 'bobjimmy007',
 '76561198091740831',
 '76561198095380303',
 '76561198052003136',
 'omgihaveawebpage',
 'Swish0009',
 '76561198030943851',
 'Aurora99',
 '76561198053071988',
 'minionking',
 '76561198083375450',
 'scroopy22',
 '76561198076984454',
 '76561198091054851',
 'iDestrix',
 'auzmoz',
 'auzzie_96',
 '76561198009353440',
 '76561198082020576',
 'fatrangacuntnolifevirgin',
 'helvisavillon',
 '76561198080015704',
 '76561198040602004',
 '76561198082959786',
 '76561198064150679',
 '76561198110293299',
 'cam5699',
 'de_triggered',
 '76561198071748311',
 'azzydazzy',
 '76561198048900256',
 'Azrafael',
 '-Azsael-',
 '76561198076301023',
 'arewefaded',
 '76561198065247809',
 '76561198086081043',
 'hoarbiscuit',
 'bohgeraltofrivia',
 'TeH-B-Rad',
 'BAW_Killer',
 'moriceplease',
 'gamerdude7892',
 '76561197970168558',
 'timothyshen',
 '76561198227794828',
 '2ez4medick',
 '76561198118595651',
 'BBBirb',
 'AgentXiri',
 '76561198018950738',
 'hamfritta',
 '76561198064579722',
 'potatoskins',
 'crispymemesmantheyremyfavourite',
 '76561198044593618',
 '76561198074409406',
 '76561198049617612',
 'H-Alo',
 '76561198075444114',
 '420Blz',
 '76561198076548816',
 '76561198075039895',
 'chillrend',
 '76561198218877443',
 '76561198070149038',
 '76561197994407780',
 '76561198035548591',
 'Gborges',
 'lukeyturley',
 'SergeantBash111',
 '76561198071872532',
 'PolygonCloud',
 'ZUERA12',
 '76561198043660058',
 '76561198095142204',
 'BOB_200',
 '76561198070735033',
 '76561198018560501',
 '76561198010642927',
 '76561198051148175',
 '76561198047208452',
 'generalale',
 '76561198027831921',
 'brendoboy',
 '76561198071234254',
 '76561198165870150',
 '76561198083049918',
 '76561198072652548',
 'Infixation',
 '76561198071162228',
 'brodo764',
 '76561198047304525',
 '76561198068855162',
 '76561197994969639',
 '76561198200015694',
 '76561198064016444',
 'minecraft123',
 '76561197960694096',
 'JuanManSnipez',
 'Ben_Andy',
 'Bennysaputra',
 '76561198067021476',
 '76561198190487725',
 '76561198045071942',
 '76561198027081791',
 'Bhappiikhat',
 '76561198027046431',
 '76561198087471896',
 '76561198082863312',
 'Ahahahahahahahahahahahahahahaha',
 'BITCHPLESE',
 'Too_1337',
 '76561198069143001',
 '76561198074755143',
 'limabeansaregross',
 '76561198075175410',
 '76561198045214274',
 'kinglemon1222',
 '76561198050404009',
 '76561198030636321',
 '76561198007342405',
 '76561198081885254',
 'LlamasInNigjamas',
 '76561198048370750',
 '76561198035363871',
 'Hummingsenpai',
 'bioturdz',
 '76561198018845815',
 'CHAAANG',
 '76561198056980314',
 '76561198077586769',
 '76561198043296029',
 'bitmat',
 '76561198028483487',
 'Ghoster09',
 '76561198081496844',
 '180577',
 'BlackHeart',
 'Barridos',
 '76561198053775195',
 'Blackhawk611',
 'MRSALM0N',
 '76561198090119638',
 '76561198039778856',
 '76561198035782795',
 '76561198077278011',
 '76561197988863895',
 '76561198077116471',
 '76561198007478325',
 '76561197988976770',
 '76561198171166530',
 'hbk1462',
 '76561198044500343',
 '76561198057521157',
 '76561198053766465',
 '76561198083368833',
 'FHK',
 '76561198082282442',
 'Blue333',
 '76561198030735076',
 'Bluegills',
 '76561198066253111',
 'rrbr',
 '13lazer',
 '76561198070259755',
 '76561198044344399',
 '76561197999613236',
 'RespekPlox',
 '76561198062288797',
 '76561197989449545',
 'bobseagull',
 'bobsterman',
 '76561198068305940',
 'Bonesdontrattlethem',
 '76561198062403736',
 '76561198073642113',
 '76561198055648263',
 'boogs17',
 '76561198086083118',
 '76561198211433640',
 '76561198047032085',
 'ilyjoepoe',
 'Mantrouminati',
 'Gameguilder',
 '76561198064747645',
 'SamoanTurtle',
 'Booyahoo',
 '76561198049456280',
 'knuckleface',
 '76561198027225504',
 'dicksoutforboromir',
 'dropssdrop',
 '76561198041245503',
 'kafugax',
 'probotsteve',
 '76561198094177304',
 '76561198069093971',
 '76561198060697096',
 '76561197977543317',
 'boydo',
 'BrutalLegend69',
 '76561198007539695',
 '76561198064026657',
 '76561198024450886',
 '76561198057745573',
 'saint556',
 'Brayneeah',
 'xythesis',
 '76561198068581244',
 'BreadCommanderz',
 '76561198079362142',
 'brettebear',
 '76561198040467357',
 'metiqu',
 'restinspaghettineverforgetti',
 'spike_heart',
 'brocky0405',
 '76561198046094676',
 '76561198087095625',
 'Vladimirputinisgreatman',
 '76561198082582573',
 '76561198053917005',
 '76561198067729563',
 '76561198071647862',
 'Br0wni3',
 '76561198088957798',
 '76561197988846047',
 'sdarkneeds',
 '76561198079351819',
 'Brutaka3',
 '76561198065166613',
 'bobcookies69',
 '1522188745',
 '76561198110065267',
 'thebtb',
 'MoniqueTron',
 '76561198059167106',
 '76561198105270589',
 'notbudds',
 'Trutle',
 'BugsyBro',
 '76561198041518533',
 '76561197989359805',
 'UNI-Juan',
 'Jyep',
 '76561198025636863',
 '76561197978008006',
 '76561198074561346',
 '76561198094074209',
 '76561198054155652',
 '76561198036974255',
 '76561198020272265',
 '743748734',
 'BurningCassette',
 'R62153',
 '76561198087011672',
 'busternut',
 '76561198075981950',
 '76561198105846578',
 'Butteryyy',
 '76561198079326390',
 '76561198142749308',
 '897w463824638109276',
 'Butterz',
 '8789568',
 '76561198112547239',
 'tongtel',
 'noblezinho',
 '76561198097794993',
 'C13GE',
 'C14M8S',
 '1122305938',
 '76561198069050565',
 'Cabjoy',
 '76561198082278758',
 '76561198053685392',
 'Stormaggen',
 'gusvu',
 '76561198059718900',
 'Punixa',
 '76561198045679186',
 '76561198051084367',
 '76561198044402508',
 '76561198081987102',
 'calii',
 '76561198084718144',
 '76561198077034833',
 'calypto52',
 'camduman',
 'camquarter',
 '76561198056859428',
 'aquelecaraqfazaquilo',
 'Camothecomando',
 '76561198079009374',
 '76561197992910116',
 'jonjon4351',
 '76561198043609375',
 '76561198039236799',
 'ThePyrite99',
 '76561198062276935',
 '76561198097295378',
 '76561198036996272',
 '8m96',
 '76561198048121243',
 'CAPTAINVRITRAS',
 'ConkerBirdy',
 '76561198078194423',
 '76561198067657905',
 '76561198070072786',
 '76561197966764681',
 '76561198007988939',
 'CapyOfficial',
 '76561198067721589',
 'gsteambath',
 '76561198049715896',
 '76561197996092338',
 'carouserwhite',
 '76561198077709322',
 '76561198045631910',
 '76561198063633577',
 '76561198060576252',
 '76561198078670623',
 'Lord_Casso',
 '76561198058789410',
 '76561198050876555',
 '76561198059948130',
 '76561198038766477',
 '76561198070087725',
 '76561198042335464',
 'azkhernan123',
 '76561198052180785',
 'fsfs546hd',
 'CCcorye',
 '76561198045283919',
 '76561198081438874',
 '76561198078509867',
 '76561198046848291',
 'WeabDestoryer',
 '76561198072411281',
 'CrazyGiraffe71',
 '76561198162056324',
 '76561198240923172',
 'cgoober2000',
 'Chacob',
 '24902',
 'chalkmetal',
 'kggj',
 'asdasdfsadgdfhfgjggj',
 '76561198060996316',
 'elheat',
 'bobjames1234',
 'ElementalGodChaos',
 '76561198077997574',
 '76561198081095968',
 '76561198065784635',
 '76561197971917242',
 'melonmaniac',
 '76561198083201608',
 '76561198048491595',
 '76561198074108172',
 '76561198028094250',
 'mexz1999',
 'IchMasKung',
 'HoxtonPleaseDontSueMe',
 '76561198051215704',
 'cheetahpocalypse',
 '76561198067182841',
 'Axzothrift',
 '76561198066003101',
 '76561198283109848',
 '76561197960281419',
 'Chermoil',
 'Urtle1',
 '76561198049867810',
 'harharharharhar',
 '76561198074235306',
 'pussyhunter121',
 '76561198077733060',
 'DimSums',
 '76561198091638558',
 '76561198076375452',
 '76561198040845885',
 'chicken_tonight',
 'chidvd',
 '76561198056960847',
 '76561198024006038',
 'chillifuzzball',
 '76561197994523427',
 '76561198052700471',
 '76561198097450390',
 '76561197981448997',
 '76561198064984988',
 'aerpub',
 '76561198078733772',
 '76561198061273070',
 'Isiswannabe',
 'SmeshDoge',
 'Chockie',
 '76561198065663269',
 '76561197961840584',
 'chronoris',
 '76561198080622032',
 '76561198037342853',
 '76561198060835696',
 'harrisonnorris',
 'zaper151',
 '76561198018913829',
 'StrikerAustralia',
 'pongping7',
 '76561198142474106',
 'Los_Shmurdos',
 'ciborg2000',
 'Mikinmash',
 '76561198060510583',
 '76561198074561107',
 '76561197976842635',
 '76561198046034574',
 '76561198005413640',
 'OfficialSenix',
 'mike14476',
 '76561198066789278',
 'kelby003',
 'Mattress121',
 'Clawz3z',
 '76561198079650317',
 '76561198071207551',
 '76561198061039259',
 'climax2005',
 '76561198074202726',
 ...]

In [28]:
# Librería para ver el progreso del bucle for de acontinuación
from tqdm import tqdm
dinero_gastado_por_usuarios = [] # Lista para almacenar el dinero gastado por cada usuario
for usuario in tqdm(user_id, desc="Procesando usuarios"): # Para cada usuario en la lista user_id creada previamente,
    dinero_local = round(usuario_juego_precio[usuario_juego_precio["user_id"] == usuario]["price"].sum(), 2) # Se crea una variable llamada dinero_local que almacena la cantidad de dinero que tiene el usuario que se esté iterando
    dinero_gastado_por_usuarios.append(dinero_local) # Se agrega la variable local a la lista previamente creada
    º

Procesando usuarios: 100%|██████████| 68590/68590 [3:50:07<00:00,  4.97it/s]

In [29]:
# A partir de estas ambas listas, voy a crear un dataframe que sea de la forma: usuario | dinero_gastado
usuario_dinero_gastado = pd.DataFrame(
    {"user_id" : user_id,
     "dinero_gastado" : dinero_gastado_por_usuarios}
)
usuario_dinero_gastado

                 user_id  dinero_gastado
0      76561197970982479         3404.33
1                js41637         8316.47
2              evcentric         1564.92
3             Riot-Punch         3284.47
4                  doctr         6635.61
...                  ...             ...
68585  76561198320136420          673.67
68586          ArkPlays7          134.97
68587  76561198323066619            0.00
68588  76561198326700687          375.83
68589  76561198329548331            0.00

[68590 rows x 2 columns]

Bueno, pasé de un dataframe de 4089195 de filas a uno de 68590 filas, logré reducirlo un 98,3% de su tamaño original.
Voy a realizar 3 chequeos para ver si se ejecutó correctamente.

In [30]:
# Chequeo nº1
print(round(usuario_juego_precio[usuario_juego_precio["user_id"] == "76561198329548331"]["price"].sum(), 2)) # Salida esperada: 0.0
print()
# Chequeo nº2
print(round(usuario_juego_precio[usuario_juego_precio["user_id"] == "ArkPlays7"]["price"].sum(), 2)) # Salida esperada: 134.97
print()
# Chequeo nº3
print(round(usuario_juego_precio[usuario_juego_precio["user_id"] == "js41637"]["price"].sum(), 2)) # Salida esperada: 8316.47
print()

0.0

134.97

8316.47

Cómo todo salió correctamente, voy a exportar este dataframe en formato parquet para posteriormente utilizarlo en el main

In [31]:
usuario_dinero_gastado.to_parquet("../Datasets/endpoint_2/usuarios_y_dinero_gastado.parquet",compression="snappy")

A continuación, voy a optimizar el endpoint 2

Octavo prototipo del endpoint

In [37]:
# El endpoint está así en el main:
def informacion_usuario(user_id):
    try:
        user_id_str = str(user_id)
        # Cargamos los dataframes dentro de la función
        user_items = pd.read_parquet("../Datasets/endpoint_2/users_items.parquet")

        user_reviews = pd.read_parquet("../Datasets/endpoint_2/user_reviews_endpoint_2.parquet")

        usuario_juego_precio = pd.read_parquet("../Datasets/endpoint_2/usuarios_y_dinero_gastado.parquet")

        print("Archivos leídos correctamente")
        
        diccionario_de_retorno = {} # Diccionario que va a almacenar las variables correspondientes a la salida de la función

        if user_items[user_items["user_id"] == user_id_str].empty: # En caso de que no haya usuarios con el ID ingresado, se muestra lo siguiente:
            return {"Detail":"No se encontraron datos para el usuario con ID: " + user_id_str}
        else: # En caso de que haya usuarios con el ID ingresado, se muestra lo siguiente
            
            # Se cuenta la cantidad de juegos que tiene el usuario
            print("Condicional pasado correctamente")
            cantidad_juegos = user_items[user_items["user_id"] == user_id_str]["items_count"].iloc[0]

            print(f"Cantidad de juegos: {cantidad_juegos}, Tipo: {type(cantidad_juegos)}")

            # Se cuenta la cantidad de recomendaciones. En la columna recommend aparece "True" o "False", tuve en cuenta sólo las que aparece "True" del usuario ingresado.
            cantidad_de_recomendaciones = user_reviews[(user_reviews["user_id"] == user_id_str) & (user_reviews["recommend"] == True)]["recommend"].count()
            print("Cantidad de recomendaciones obtenidas")
            
            # Se cuenta la cantidad de dinero gastado por el usuario, haciendo una suma de la columna "price" de los juegos que tiene el usuario. 
            cantidad_dinero_gastado = usuario_juego_precio[usuario_juego_precio["user_id"] == user_id_str]["dinero_gastado"].iloc[0]

            cantidad_dinero_gastado = round(cantidad_dinero_gastado, 2)
            print("Cantidad de dinero gastado obtenido")

            # A partir del ID ingresado, del dinero gastado, del porcentaje de recomendación, y de la cantidad de juegos, se almacenan en el diccionario previamente creado con las claves correspondientes.
            diccionario_de_retorno["Usuario"] = user_id_str
            print("Usuario agregado al diccionario de salida")

            diccionario_de_retorno["Dinero gastado"] = f"{cantidad_dinero_gastado} USD"
            print("Dinero gastado agregado al diccionario de salida")
            
            # Si el usuario no hizo recomendaciones, para no tener errores de división por 0, defino que el porcentaje de recomendación es de 0%
            if cantidad_de_recomendaciones == 0:
                porcentaje_recomendacion = 0
                diccionario_de_retorno["Porcentaje de recomendación"] = f"{porcentaje_recomendacion}%"
            else:
                # Si hizo recomendaciones, se hace el calculo normalmente
                porcentaje_recomendacion = round((cantidad_de_recomendaciones * 100) / cantidad_juegos, 2)
                diccionario_de_retorno["Porcentaje de recomendación"] = f"{porcentaje_recomendacion}%"

            print("Porcentaje de recomendación agregado al diccionario de salida")

            diccionario_de_retorno["Cantidad de juegos"] = cantidad_juegos
            print("Cantidad de juegos agregados al diccionario de salida")
            
            # Se devuelve el diccionario creado
            return diccionario_de_retorno
        
    except FileNotFoundError as e:
        print(f"Error: {str(e)}")
        raise HTTPException(status_code=404, detail=f"Archivo Parquet no encontrado: {str(e)}")
    except Exception as e:
        print(f"Error: {str(e)}")
        raise HTTPException(status_code=500, detail=f"Error al procesar la solicitud: {str(e)}")

In [38]:
informacion_usuario("sandwiches1")

Archivos leídos correctamente
Condicional pasado correctamente
Cantidad de juegos: 172, Tipo: <class 'numpy.int64'>
Cantidad de recomendaciones obtenidas
Cantidad de dinero gastado obtenido
Usuario agregado al diccionario de salida
Dinero gastado agregado al diccionario de salida
Porcentaje de recomendación agregado al diccionario de salida
Cantidad de juegos agregados al diccionario de salida

{'Usuario': 'sandwiches1',
 'Dinero gastado': '1528.9 USD',
 'Porcentaje de recomendación': '0%',
 'Cantidad de juegos': 172}